/* Media Query 1720px*/
@media (max-width:1720px) {
    /* Genral Css */
    .section-subtitle{
        max-width: 60%;
    }
    /* 01 Navbar CSS */
    .header .navbar{
        background-size: cover;
        padding: 2rem;
    }
    .header .navbar-nav{
        margin-top: 2rem;
    }
    .header .navbar-nav .nav-link{
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }
    /* 02 Banner Section */
}

/* Media Query 991px */
@media (max-width:991px) {
    /* Genral CSS */

    /* 01 Navbar CSS */
}

/* Media Query 767px */
@media (max-width:767px) {
    /* Genral CSS */
    
    /* 01 Banner Section */
}

/* Media Query 590px */
@media (max-width:590px) {
    /* Genral Css */

    /* 01 Navbar CSS */
}